.gallery {
    padding: 20px;
    padding-left: 0;
    padding-bottom: 0;
    zoom: 90%;
}

.gallery ul {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
}

.gallery ul li {
    margin-left: 25px;
}

.gallery ul li:first-child {
    margin-left: 0px;
}

.gallery ul li a img {
    border: solid 6px white;
    border-radius: 15px;
}